@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
    transition: all ease 0.4s;
}
li{
    list-style-type: none;
}
a:hover, button:hover{
    transform: scale(0.9);
}
button{
    cursor: pointer;
    transition: all ease 0.4s;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #050A0A;
}
h1{
    font-size: 96px;
    font-weight: 700;
    line-height: 1.3;
}
h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}
h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
}
h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
img{
    display: block;
    overflow: hidden;
}

/* header section starts */

.header{
    background-color: #f5f5f5;
    padding: 15px 0;
}
.wrapper{
    padding: 0 15px;
    max-width: 1670px;
    width: 100%;
    margin: 0 auto;
}
.content_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_header, .number{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #9e9e9e;
}
.left_header{
    max-width: 528px;
    width: 100%;
}
.email h6 a, .nz h6 a, .aus h6 a{
    color: #9e9e9e;
}
.right_header{
    display: flex;
    max-width: 122.21px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* nav section starts */

.navbar{
    padding: 30px 0;
}
.sub_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a, .nav nav ul li a, .logo2 a{
    transform: none;
}
.hamburger{
    display: none;
}
.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 631px;
    width: 100%;
}
.right_nav a{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #000000;
}
.nav nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.button{
    width: 100%;
}
.button a{
    max-width: 123px;
    width: 100%;
    border: 2px solid #FFD027;
    padding: 9px 24px;
    border-radius: 40px;
}
nav{
    max-width: 428px;
    width: 100%;
}
nav ul li a{
    position: relative;
    display: inline-block;
}
nav ul li a::after{
    content: "";
    position: absolute;
    width: calc(100%);
    border: 2px solid #021EEE;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: all ease 0.4s;
}
nav ul li a:hover:after{
    opacity: 1;
}


/* banner section starts */

.banner{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 65.63%, rgba(0, 0, 0, 0) 65.63%, rgba(0, 0, 0, 0) 65.64%), url("../assets/images/person-working-building-construction\ 1.png");
    padding: 138px 0 138px 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sub_banner{
    max-width: 584px;
    width: 100%;
}
.sub_banner .heading{
    max-width: 436px;
    width: 100%;
    padding-bottom: 40px;
}
.heading h1{
    color: #fff;
}
.yellow{
    color: #FFD027;
}

.details h4{
    color: #fff;
}
.details{
    padding-bottom: 76px;
}
.banner .sub_banner .button a{
    max-width: 171px;
    width: 100%;
    background-color: #FFD027;
    color: #050A0A;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    padding: 10px 0px;
    text-align: center;
}

/* video section starts */

.video{
    padding: 120px 0 80px;
}
.sub_video{
    display: flex;
    align-items: self-start;
}
.container1{
    max-width: 1111.64px;
    width: 100%;
    background: #FFFFFF;
    border: 3px solid #F5F5F5;
    border-radius: 27px;
    padding: 13.72px;
    z-index: 2;
    text-align: center;
}
iframe{
    border-radius: 20px;
    max-width:1084.2px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.container2{
    max-width: 644px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 40px;
    padding: 60px 60.36px 60px 174.64px;
    margin-left: -115px;
    margin-top: 118px;
}
.content_container{
    max-width: 409px;
    width: 100%;
}
.heading_container{
    padding-bottom: 10px;
}
.heading_container h5{
    color:  #021EEE;
    font-weight: 600;
}
.title_container{
    max-width: 385px;
    width: 100%;

}
.details_container{
    max-width: 409px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.details_container h5{
    font-weight: 400;
}
.details_container.one{
    padding: 0 0 40px 0;
}
.container2 .content_container .button a{
    background-color: #FFD027;
    max-width: 157px;
    width: 100%;
    padding: 10px 0 11px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #050A0A;
}
.content_container .container1{
    display: none;
}
/* large infrastructure section starts */

.large_infrastructure{
    padding: 80px 0;
    position: relative;
}
.design{
    position: absolute;
    top:-25%;
}
.container_infrastruct{
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
    border-radius: 40px;
    padding: 60px 37.5px;
    z-index: 2;
    position: relative;
}
.container_infrastruct .heading_container{
    max-width: 188px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.container_infrastruct .title_container{
    max-width: 868px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.button_row{
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
    border-radius: 20px;
    max-width: 1566px;
    width: 100%;
    display: flex;
    padding: 20px 0;
}
.btns{
    width: 100%;
}
.btns a{
    border-right: 3px solid #F5F5F5;
    padding: 10px 0;
    max-width: 391px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.3;
    color: #050A0A;
}
.btns.btn1 a{
    color: #FFD027;
}
.btns.btn4 a{
    border-right: none;
}
.card{
    display: flex;
    justify-content: left;
    padding-top: 44.5px;
    align-items: center;
    gap: 60px;
    max-width: 1566.5px;
}
.text{
    max-width: 800px;
    width: 100%;
    padding-bottom: 40px;
}
.text h5{
    font-weight: 400;
    color: #888;
}
.description .button a, .cards .button a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 127px;
    width: 100%;
    border: 0;
    color: #000000;
    padding: 0;
}

.container_section, .container_infrastruct .navigation{
    display: none;
}


/* featured products section starts */

.featured_products{
    padding: 80px 0;
}
.content_products{
    max-width: 1640px;
    width: 100%;
}
.heading_products{
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.left_heading{
    max-width: 584px;
    width: 100%;
}
.heading_products .left_heading .heading_container{
    max-width: 187px;
    width: 100%;
}
.heading_products .left_heading .title_container, .sub_get_touch .left_get_touch .title_container{
    max-width: 584px;
    width: 100%;
}
.heading_products .button a, .content_products .button.button2 a{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #050A0A;
    background-color: #FFD027;
    max-width: 240px;
    padding: 10px 0;
    text-align: center;
}
.heading_products .button, .content_products .button.button2{
    max-width: 240px;
    width: 100%;
}
.content_products .container{
    display: flex;
    max-width: 1640px;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cards{
    max-width: 380px;
    width: 100%;
    padding: 20px 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
    border-radius: 20px;
}
.title_cards{
    padding: 20px 0;
    max-width: 320px;
}
.describe_cards h6{
    color: #888;
}
.describe_cards{
    max-width: 320px;
    padding-bottom: 20px;
}
.content_products .button.button2{
    display: none;
}
/* Get Touch */
.get_touch{
    padding: 80px 0px;
}

.sub_get_touch{
    max-width: 1640px;
    width: 100%;
    background-color: #FFD027;
    border-radius: 40px;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left_get_touch{
    max-width: 584px;
    width: 100%;
}
.left_get_touch .right_get_touch{
    display: none;
}
.details_get_touch{
    padding-top: 10px;
}

.right_get_touch, input[type="text"]{
    max-width: 657px;
    width: 100%;
}
input[type="text"]{
    border: 2px solid #020202;
    padding: 29px 145px 28px 20px;
    border-radius: 43px;
    background-color: #FFD027;
    color: #050A0A;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
form{
    display: flex;
    align-items: self-start;
}
input[type="text"]::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #050A0A;
    font-family: 'Montserrat', sans-serif;
}
input:focus{
    outline: none;
}
button[type="submit"]{
    background: #050A0A;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.16;
    max-width: 117px;
    width: 100%;
    padding: 10px 0;
    margin-left: -137px;
    margin-top: 19px;
    border: none;
    border-radius: 40px;
}
button[type="submit"]:hover{
    box-shadow: 2px 2px 16px rgba(255, 221, 20, 0.3);
}
.testimonials{
    padding: 80px 0;
    position: relative;
}
.design2{
    position: absolute;
    right: -2%;
    top: 7%;
}
.sub_testimonials{
    display: flex;
    gap: 80px;
}
.left_testimonials{
    max-width: 540px;
    width: 100%;
}
.left_testimonials .title_container{
    max-width: 410px;
    width: 100%;
}
.details_testimonials {
    max-width: 540px;
    width: 100%;
    padding: 30px 0 40px 0;
}
.details_testimonials h6{
    color: #888;
}
.sub_testimonials .left_testimonials .navigation{
    display: flex;
    justify-content: space-between;
    max-width: 256px;
    width: 100%;
}
.numbers{
    display: flex;
    justify-content: center;
    align-items: self-end;
}
.num1{
    padding-right: 3px;
}
.num1 p{
    font-weight: 600;
    font-size: 42px;
    line-height: 1.3;
    color: #050A0A;
}
.num5 h3{
    font-weight: 500;
    color: #9e9e9e;
}
.img.left_arrow{
    width: 62px;
    height: 58.98px;
    background: #F5F5F5;
    border: 0.5px solid #D9D9D9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.4s;
}
.img.left_arrow:hover{
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
}
.img.right_arrow{
    background: #FFFFFF;
    border: 0.5px solid #FFD027;
    transition: all ease 0.4s;
}

.img.right_arrow:hover{
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
}

.right_testimonials{
    max-width: 1020px;
    width: 100%;
    display: flex;
    align-items: self-end;
}
.cards_test.first_card{
    z-index: 6;
    position: relative;
}

.cards_test{
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
    border-radius: 20px;
    padding: 40px;
}
.testifies{
    padding-bottom: 75px;
}
.testifies p{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    color: #050A0A;
    max-width: 520px;
    width: 100%;
}
.image-text{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.txt .name p{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    color: #050A0A;
}
.domain h5{
    color: #FFD027;
}
.domain{
    padding-top: 10px;
}
.cards_test.second_card{
    right: 76px;
    bottom: 72px;
    position: absolute;
    transform: scale(0.84);
    z-index: 5;
}
.cards_test.second_card *{
    opacity: 0.72;
}
.cards_test.first_card .img1.up{
   position: absolute;
   left: 5%;
   top: -5%;
}
.cards_test.first_card .img1.down img{
   position: absolute;
   right: 5%;
   bottom: -4%;
}
.cards_test.second_card .img1.down{
    position: absolute;
    right: 0;
    bottom: -4%;
}
.cards_test.second_card .img1.up{
    display: none;
}
.sub_testimonials .navigation.nav-com{
    display: none;
}
/* client-logos section */
.client_logos{
    padding: 80px 0;
}
.sub_client-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1920px;
    width: 100%;
}
.left_logos{
    max-width: 385px;
    width: 100%;
}
.right_logos{
    width: 100%;
    overflow-x: auto;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px 10px rgba(59, 103, 142, 0.08);
    border-radius: 20px 20px;
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
}
 
/* latest news section */
.latest_news{
    padding: 80px 0 160px;
    position: relative;
}
.design3{
    position: absolute;
    top: 25%;
}
.latest_news .content_products .left_heading, .latest_news .content_products .left_heading .title_container{
    max-width: 584px;
    width: 100%;
    margin: 0% auto;
    text-align: center;
}
.sub-txt{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}
.part1 h6{
    color: #FFD027;
    text-decoration: solid;
    font-weight: 600;
    text-decoration-line: underline;
}

.latest_news .content_products{
    position: relative;
    z-index: 3;
    
}
.latest_news .content_products .container{
    padding-top: 70px;
}
.latest_news .content_products .container .cards .title_cards{
    padding-top: 10px;
    padding-bottom: 9px;
}

.latest_news .content_products .container{
    padding-bottom: 80px;
}
.sub-txt{
    padding-top: 10px;
}
.content_products .button.second_button{
    max-width: 215px;
    width: 100%;
    margin: 0% auto;
}
.content_products .button.second_button a{
    max-width: 215px;
    width: 100%;
    background-color: #FFD027;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #050A0A;
    padding: 10px 0 11px;
    margin: 0% auto;
    text-align: center;
}
.footer{
    background: #050A0A;
    padding: 60px 0;
    color: #fff;
}
.top_footer{
    display: flex;
    gap: 100px;
}
.col1{
    max-width: 266.34px;
    width: 100%;
}
.icons{
    display: flex;
    gap: 27.26px;
}
.follow{
    padding-top: 70px;
    padding-bottom: 24.71px;
}
.col2{
    max-width: 384px;
    width: 100%;
    text-align: left;
}
.img-txt{
    display: flex;
    gap: 20px;
    padding-bottom: 22.67px;
}
.txt1 a, .copyright a, .txt_number a{
    color: #fff;
}
.img-txt.three{
    padding-bottom: 0;
}
.col3{
    max-width: 156px;
    width: 100%;
}
.footer .top_footer .col3 ul li .home{
    color: #FFD027;
} 
.footer .top_footer .col3 ul li .home:hover{
    transform: none;
}
.footer .top_footer .col3 ul li a:hover{
    color: #FFD027;
}
.footer ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.resources{
    padding-bottom: 0;
}
.col4{
    max-width: 532px;
    width: 100%;
    background-color: #232323;
    padding: 30px;
    border-radius: 20px;
}
.sub_col4{
    max-width: 472px;
    width: 100%;
}
.download h3{
    font-weight: 500;
    color: #FFD027;
}
.right_get_touch.download_book{
    padding-top: 30px;
}
.right_get_touch.download_book input[type="text"]{
    border: 1px solid #FFD027;
    border-radius: 43px;
    background: #232323;
    color: #e0e0e0;
    padding-right: 177px;
}
.right_get_touch.download_book input[type="text"]::placeholder{
    color: #e0e0e0;
} 
.right_get_touch.download_book button[type="submit"]{
    background-color: #FFD027;
    color: #292929;
    padding: 10px 0 11px;
    max-width: 145px;
    width: 100%;
    margin-left: -163px;
    border: none;
}
.right_get_touch.download_book button[type="submit"]:hover{
    box-shadow: 2px 2px 16px rgba(255, 221, 20, 0.3);
    cursor: pointer;
}
.right_get_touch.download_book input:focus{
    outline: none;
}
.bottom_footer{
    padding-top: 40px;
}
hr{
    border: 1px solid #F5F5F5;
}
.copyright{
    max-width: 428px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}
